:root {
    --speel-blue: #1a6ac1;
    --speel-geel: #fed74c;
    --main-red: #cd1232;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 85%;
    margin: auto;
}

.action {
    padding: 10px;
    border: none
}

.confirm {
    background: var(--speel-blue);
    color: #fff;
}

.failed {
    color: var(--main-red);
}

.fancy {
    color: var(--speel-blue);
    font-size: 32px;
}

body{
    font-family: 'Agency FB', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Speelplein';
    src: url('AGENTORANGE.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: "Speelplein", 'Agency FB';
}

header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--speel-blue);
}

#brand {
    width: 100%;
    padding: 5px;
    font-size: 22px;
    color: var(--speel-geel);
}

nav a{
    padding: 10px 5px;
    display: inline-block;
    width: 250px;
    margin: 5px;
    color: #eee;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background: var(--speel-geel);
    color: var(--speel-blue);
}

#welcome-wrap {
    background: #ccc;
}

#welcome {
    display: flex;
    padding: 10px;   
}

#img {
    margin: 0 10px 0 0;
}

#welcome-text {
    text-align: center;
    width: 100%;
    margin: auto 0;
}

#welcome-text p {
    font-size: 28px;
}

#links a {
    text-decoration: none;
    color: var(--speel-blue);
    display: block;
    font-size: 20px;
}

/* form */

#login {
    padding: 15px 0;
}

#login-form {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--speel-blue);
}

#login-form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border: none;
    border-bottom: 3px solid var(--speel-blue);
}

#login-form input:focus {
    border-bottom: 3px solid var(--speel-geel);
}

#login-form button {
    display: block;
    margin: auto;
    width: 90%;
}

/* uitnodiging */

#invite {
    display: none;
    padding: 10px;
}

#invite p {
    font-size: 20px;
}